.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.statContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#precipitationColor, #temperatureColor {
	min-width: 200px;
	min-height: 200px;
	margin-top: 2rem;
}

.red {
	background-color: #FF0000;
}

.orange {
	background-color: #FFA500;
}

.blue {
	background-color: #0000FF;
}

.freeze {
	background-color: #CCFFFF;
}